<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kevin's Github</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/static/animation/styles.css">
</head>

<body>      
    <!-- Navigation Bar -->
    <div id="nav-bar"></div>

    <script>
        fetch('/static/animation/component.html')
        .then(response => response.text())
        .then(data => {
            // Create a temporary DOM element to parse the fetched HTML
            const tempDiv = document.createElement('div');
            tempDiv.innerHTML = data;

            // Extract only the nav element
            const navElement = tempDiv.querySelector('nav');
            if (navElement) {
                document.getElementById('nav-container').appendChild(navElement);
            }
        })
        .catch(error => console.error('Error loading template:', error));
    </script>

    <!-- Main Page -->

    <!-- Footer -->
    <footer id="foot"></footer>

    <!-- Link to external JavaScript file -->
    <script src="/static/animation/main.js"></script>
</body>
</html>
