<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation | Kevin Land </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/static/animation/styles.css">
</head>

<body>      
    <!-- Navigation Bar -->
    <div id="nav-bar"></div>

    <!-- Centered Gray Box -->
    <div class="w-full bg-gray-100 rounded-lg p-16 text-center shadow-md">
        <!-- Bio -->
        <p>This is a page for all my assignment work in csci 712 at RIT.</p>
    </div>

    <!-- Footer -->
    <footer id="foot"></footer>

    <!-- Link to external JavaScript file -->
    <script src="/static/animation/main.js"></script>
</body>
</html>