<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animation | Kevin Land</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col min-h-screen bg-gray-950 text-gray-100 leading-relaxed">

  <!-- Navigation Bar -->
  <div id="nav-bar"></div>

  <!-- Add outer padding so body background is visible -->
    <main class="flex-1 flex items-center justify-center">
    <div class="max-w-xl w-full bg-gray-800 text-gray-100 rounded-lg p-12 text-center shadow-lg">
        <p>Some light reading &#128526;</p>

        <p>
            <a href="/static/quantum/media/regev.pdf"  target="_blank" class="text-blue-400 underline">
            Review on Oded Regev's Learning with Errors reduction.
            </a>
        </p>

        <p>
            <a href="/static/quantum/media/penrose_hameroff.pdf"  target="_blank" class="text-blue-400 underline">
            Final report for quantum computing on quantum consciousness. 
            </a>
        </p>

    </div>
    </main>





  <!-- Footer -->
  <footer class="mt-auto text-center text-gray-400 py-6">
    &copy; 2025 Kevin Land
  </footer>

  <script src="/static/quantum/main.js"></script>
</body>
</html>
