<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kevin's Github</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/static/global_illumination/styles.css">
</head>

<body>      
    <!-- Navigation Bar -->
    <div id="nav-bar"></div>

  <script>
    fetch('/static/global_illumination/component.html')
      .then(response => response.text())
      .then(data => {
        // Create a temporary DOM element to parse the fetched HTML
        const tempDiv = document.createElement('div');
        tempDiv.innerHTML = data;

        // Extract only the nav element
        const navElement = tempDiv.querySelector('nav');
        if (navElement) {
          document.getElementById('nav-container').appendChild(navElement);
        }
      })
      .catch(error => console.error('Error loading template:', error));
  </script>

    <!-- Full Screen Toggle Function -->
    <script>
        function toggleFullscreen(img) {
            if (!document.fullscreenElement) {
                img.requestFullscreen().catch(err => {
                    alert(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`);
                });
            } else {
                document.exitFullscreen();
            }
        }
    </script>

    <!-- Main Page -->
    <div class="grid grid-cols-3 gap-4 p-4">
        <div>
            <p>Checkerboard</p>
            <img src="/static/global_illumination/media4/checkered.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>Random Noise</p>
            <img src="static/global_illumination/media4/random_noise.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>Random Noise (tiles)</p>
            <img src="static/global_illumination/media4/individual_tiles.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>Image Texture</p>
            <img src="static/global_illumination/media4/monkey.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>Brick Texture</p>
            <img src="static/global_illumination/media4/brick.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
    </div>


    <!-- Footer -->
    <footer id="foot"></footer>

    <!-- Link to external JavaScript file -->
    <script src="/static/global_illumination/main.js"></script>
</body>
</html>
