<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kevin's Github</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>      
    <!-- Navigation Bar -->
    <div id="nav-bar"></div>

    <script>
        fetch('/static/component.html')
        .then(response => response.text())
        .then(data => {
            // Create a temporary DOM element to parse the fetched HTML
            const tempDiv = document.createElement('div');
            tempDiv.innerHTML = data;

            // Extract only the nav element
            const navElement = tempDiv.querySelector('nav');
            if (navElement) {
                document.getElementById('nav-container').appendChild(navElement);
            }
        })
        .catch(error => console.error('Error loading template:', error));
    </script>

    <!-- Main Page -->
    <div class="grid grid-cols-3 gap-4 p-4">
        <div>
            <p>Refraction</p>
            <img src="/static/media6/Refraction.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>Low Refraction (0.2) </p>
            <img src="/static/media6/Final_0.2.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>High Refraction (0.8) </p>
            <img src="/static/media6/Final_0.8.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>Modified Shadows</p>
            <img src="/static/media6/modified_shadow.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
    </div>

    <!-- Footer -->
    <footer id="foot"></footer>

    <!-- Link to external JavaScript file -->
    <script src="/static/main.js"></script>
</body>
</html>
