<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kevin's Github</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/static/global_illumination/styles.css">
</head>

<body>      
    <!-- Navigation Bar -->
    <div id="nav-bar"></div>

    <script>
        fetch('/static/global_illumination/component.html')
        .then(response => response.text())
        .then(data => {
            // Create a temporary DOM element to parse the fetched HTML
            const tempDiv = document.createElement('div');
            tempDiv.innerHTML = data;

            // Extract only the nav element
            const navElement = tempDiv.querySelector('nav');
            if (navElement) {
                document.getElementById('nav-container').appendChild(navElement);
            }
        })
        .catch(error => console.error('Error loading template:', error));
    </script>

    <!-- Main Page -->
    <div class="grid grid-cols-3 gap-4 p-4">
        <div>
            <p>No Tone Reproduction</p>
            <img src="/static/global_illumination/media7/normal.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>Low Ward </p>
            <img src="/static/global_illumination/media7/w_50.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>Med Ward </p>
            <img src="/static/global_illumination/media7/w_250.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>High Ward</p>
            <img src="/static/global_illumination/media7/w_500.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>Low Reinhard</p>
            <img src="/static/global_illumination/media7/r_500.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>Med Reinhard </p>
            <img src="/static/global_illumination/media7/r_1000_whitted.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
        <div>
            <p>High Reinhard</p>
            <img src="/static/global_illumination/media7/r_1500.png" width="100%" class="cursor-pointer" onclick="toggleFullscreen(this)">
        </div>
    </div>

    <!-- Footer -->
    <footer id="foot"></footer>

    <!-- Link to external JavaScript file -->
    <script src="/static/global_illumination/main.js"></script>
</body>
</html>
