<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kevin's Github</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/static/global_illumination/styles.css">
</head>

<body>      
    <!-- Navigation Bar -->
    <div id="nav-bar"></div>

    <!-- Centered Gray Box -->
    <div class="w-full bg-gray-100 rounded-lg p-16 text-center shadow-md">
        <!-- Bio -->
        <p>Welcome to my website! 
            This site serves as a platform for submitting assignments for my Global Illuminations course, 
            which focuses on ray tracing. In this course, we work through multiple checkpoints to gradually 
            build up our skills and replicate complex images using ray tracing techniques. Each submission 
            corresponds to one of these checkpoints, where I present the work completed and explain the process 
            I followed to achieve the final result.

            Ray tracing is a rendering technique that simulates the way light interacts with objects in a 
            virtual scene, producing highly realistic images. Throughout the course, I will be learning various 
            aspects of ray tracing, from understanding light behavior to optimizing performance for faster 
            rendering. The assignments on this website will showcase my progress as I work toward mastering 
            this powerful tool.</p>
    </div>

    <!-- Footer -->
    <footer id="foot"></footer>

    <!-- Link to external JavaScript file -->
    <script src="/static/global_illumination/main.js"></script>
</body>
</html>